{% extends 'base.html' %}
{% load django_bootstrap5 %}
{% load static %}

{% block content %}

<div class="container">
<h1 class="fw-bold mt-3">📌 로그인 페이지</h1>
<hr>
    <form action="" method="POST">
        {% csrf_token %}
        {% bootstrap_form form %}
        {% bootstrap_button button_type="submit" content="로그인" %}
    </form>
    <a class="mt-3 btn btn-dark text-white" href="{% url 'accounts:index' %}" style="text-decoration:none;" role="button">
        <i class="bi bi-house-fill text-white fw-bold"></i> Home
    </a>
</div>

{% endblock content %}