/* 하트 토글키1 */
.checkbox-wrap { 
  cursor: pointer;
}

/* 하트 토글키2 */
.checkbox-wrap .check-icon {
  display: inline-block;
  width: 18px;
  height: 18px;
  background: url(../images/love.png) left center no-repeat;
  background-size: cover;
  vertical-align: middle;
  transition-duration: .3s;
}

/* 하트 토글키3 */
.checkbox-wrap input[type=checkbox] {
  display: none;
}

/* 하트 토글키4 */
.checkbox-wrap input[type=checkbox]:checked + .check-icon { 
  background-image: url(../images/love_fill.png);
  background-size: cover;
}