{% extends 'base.html' %}

{% block content %}

<h1>article detail</h1>

  <div class="row">

      <div class="card my-3" style="width: ;">
        {% comment %} <img src="..." class="card-img-top" alt="..."> {% endcomment %}
        <div class="card-body">
          <h5 class="card-title">{{ article.title }}</a></h5>
          <p class="card-text"><a href="">{{ article.content }}</p>
          <a href="{% url 'articles:update' article.pk %}" class="btn btn-outline-success">수정하기</a>
          <a href="{% url 'articles:delete' article.pk %}" class="btn btn-outline-danger">삭제하기</a>
        </div>
      </div>

  </div>

{% endblock content %}