{% extends 'base.html' %}
{% load static %}
{% load django_bootstrap5 %}
{% block css %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="{% static 'css/heart.css' %}">
{% endblock css %}

{% load static %}

{% block content %}
{% if request.user.is_authenticated %}
<hr>
<h1 class='text-center'>현정그램</h1>
<hr>
<div class='text-end'>
  <a class='btn btn-primary btn-sm' href="{% url 'articles:create' %}">글 쓰기</a>
</div>

  <div class="row">

    {% for article in articles %}
    <div class='col-4 my-3'>
      <div class="card">
        {% comment %} 이미지 없는 경우 디폴트 이미지 게시 {% endcomment %}
        {% if article.image%}
          <img src="{{ article.image.url }}" alt="{{ article.image }}" class="card-img-top">
        {% else %}
          <img src="{% static 'images/bonobono.png' %}" class="card-img-top">
        {% endif%}
        <div class="card-body">
          <h5 class="card-title">{{ article.pk }}</h5>
          <p class="card-text"><a href="{% url 'articles:detail' article.pk %}">{{ article.title }}</a></p>
            <a href="#">
                <div class="like-content">  
                  <button class="btn-secondary like-review">
                    <i class="fa fa-heart" aria-hidden="true"></i> Like
                  </button>
              </div>

            </a>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>

{% endif %}

{% endblock content %}