{% extends 'base.html' %}

{% block content %}

<h1>article INDEX</h1>

<a href="{% url 'articles:create' %}">새글 쓰기</a>

  <div class="row">

    {% for article in articles %}

      <div class="card my-3" style="width: ;">
        {% comment %} <img src="..." class="card-img-top" alt="..."> {% endcomment %}
        <div class="card-body">
          <h5 class="card-title">{{ article.pk }}</h5>
          <p class="card-text"><a href="">{{ article.title }}</p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>

    {% endfor %}
  </div>

{% endblock content %}